// 页面主色调 橘色
$hosjoyColor: #FF7A45;
$hosjoyColorHover: #FF946A;
$hosjoyColorActive: #E56D3D;

// 绿色或新增按钮
$greenColor: #13C2C2;
$greenColorHover: #42CECE;
$greenColorActive: #11AEAE;

// 白色或白色按钮
$whiteColor: #fff;
$whiteColorHover: rgba(255, 244, 240, 1);
$whiteColorActive: rgba(252, 240, 235, 1);

//红色或警示色
$redColor: red;

// 灰色
$grayColor: #999;
// 浅灰色
$grayLight: #ccc;
// 黑色
$blackColor: #262626;
// 浅黑色
$blackLight: #333;